<!DOCTYPE html>
<% provide(:title, "Work") %>

<div class="sidenav">
  <a class="active" href="<%= static_pages_work_url %>">About</a>
  <a href="<%= static_pages_ruby_url %>">Ruby</a>
  <a href="<%= static_pages_lua_url %>">Lua</a>
  <a href="<%= static_pages_glsl_url %>">GLSL</a>
  <a href="<%= static_pages_contact_url %>">Contact</a>
</div>

<div class="main">
  <h3>About</h3>
</div>

<div class="mainbody">
  <h3>General Experience</h3>
  <a>Jesse MacKellar is a self taught programmer with over a decade of personal and hobbyist experience.  
  I began learning 12 years ago starting with BASIC and c++, and soon after began working with Lua and Ruby.
  My knowledge is a result of programming games as a hobby, in designing the software's architecture and systems.
  This website is a collection of some of my recent work.</a>
  <h3>Education</h3>
  <a>Eastern Michigan University</a></br>
  <a>Attended 2014-2015</a></br>
  <a>Computer Science Major</a></br></br>
  <a>Jackson Community College</a></br>
  <a>Attended 2012-2014</a></br>
  <a>Computer Science Major</a></br></br>
  <a>Dexter High School</a></br>
  <a>Graduated 2008-2012</a></br></br>
</div>